$Bg_color: hsl(0, 0%, 100%);
$Main_bg_color: hsl(0, 0%, 75%);
$Secondary_text_color: hsl(257, 8%, 63%);
$Secondary_bg_color: hsl(255, 11%, 22%);
$Main_text_color: hsl(260, 8%, 14%);
$Third_bg_color: hsl(180, 66%, 49%);
$Third_text_color: hsl(257, 27%, 26%);
$Error_color: hsl(0, 87%, 67%);
$App_bg_color: hsl(255, 32%, 95%);