@use "./cssReset";
@use "./colors" as colors;
@use "./typography";

html {
	font-family: Poppins-Regular;
	font-size: 18px;
}
#root {
	display: flex;
	flex-direction: column;
}
body {
	background-color: colors.$App_bg_color;
}
.appContainer {
	flex-grow: 1;
	overflow: hidden;
	.button {
		padding: 0.5em 1.3em;
		background-color: colors.$Third_bg_color;
		color: colors.$Bg_color;
		font-family: Poppins-Bold;
		letter-spacing: 0.1em;
	}
	.wide_btn {
		width: 100%;
		padding: 0.5em;
		border-radius: 0.3em;
		border: none;
	}
	.copied_btn {
		background-color: colors.$Third_text_color;
	}
	.button_link {
		border-radius: 1.5em;
		text-transform: capitalize;
	}
	.navigation {
		position: relative;
		padding: 0.5em 0.6em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: colors.$Bg_color;

		.BurgerMenu {
			width: 1.6em;
		}
		.MobileNav {
			position: absolute;
			width: 95%;
			height: fit-content;
			left: 50%;
			padding: 1em 0.5em;
			top: 2.5em;
			border-radius: 1em;
			font-family: Poppins-Bold;
			color: colors.$Bg_color;
			background-color: colors.$Third_text_color;
			transform: translateX(-50%);
			z-index: 10;
			ul {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 1.7em;
				hr {
					display: block;
					height: 1px;
					border: 0;
					border-top: 1px solid colors.$Secondary_text_color;
				}
				li,
				li:nth-last-of-type(1) {
					min-width: 100%;
					a {
						display: block;
						text-align: center;
						width: 100%;
					}
				}
				li:nth-last-of-type(1) {
					margin-bottom: 1.2em;
				}
			}
		}
	}
	.hero {
		position: relative;
		height: fit-content;

		margin-bottom: 2em;
		background-color: colors.$Bg_color;
		img {
			margin: 4em 0;
			transform: scale(135%);
			left: 24%;
		}
		a {
			margin-bottom: 9.5em;
		}
	}
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 0.85em;
		h1 {
			color: colors.$Third_text_color;
			font-family: Poppins-Bold;
			font-size: 2.3em;
		}
		p {
			margin-bottom: 0.9em;
			font-family: Poppins-Medium;
			color: colors.$Secondary_text_color;
		}
		.button {
			font-family: Poppins-Bold;
			font-size: 1.1em;
			padding: 0.8em 2.2em;
		}
	}
	.card {
		border-radius: 0.4em;
		padding: 1em;
		width: 90%;
	}
	.ShortedSection {
		display: flex;
		width: 100dvw;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.3em;
		background-color: colors.$App_bg_color;
		form {
			position: relative;
			margin-top: -5em;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 1em;
			background-color: colors.$Third_text_color;
			background-image: url(/images/bg-shorten-mobile.svg);
			background-repeat: no-repeat;
			background-size: 70% 80%;
			background-position: 100% 0;
			z-index: 10;
			overflow: hidden;
			input,
			button {
				width: 100%;
				padding: 0.5em;
				border-radius: 0.3em;
				border: none;
			}

			label {
				width: 100%;
			}
			p {
				display: block;
				width: 100%;
				text-align: left;
				font-family: Poppins-italic;
				color: red;
			}
			.loadingModal {
				position: absolute;
				width: 100%;
				height: 100%;
				backdrop-filter: blur(10px);
				z-index: 10;
				img {
					position: absolute;
					left: 50%;
					top: 35%;
					width: 50px;
					height: 50px;
					transform: translate(-50%, -50%);
					filter: invert(65%) sepia(54%) saturate(656%) hue-rotate(131deg)
						brightness(130%) contrast(94%);
					animation: spining;
					animation-timing-function: linear;
					animation-duration: 3s;
					animation-iteration-count: infinite;
					animation-play-state: running;
				}
			}
		}
		.linkCard {
			background-color: colors.$Bg_color;
			max-width: 1100px;
			h3 {
				display: flex;
				flex-wrap: wrap;
				max-width: 40%;
			}
		}
	}
	section {
		margin: 4.5em 0;
	}
	.AdvanceStatisicContainer {
		.statistics {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 5em;
		}
		.cardWithIcon {
			position: relative;
			padding: 1em;
			width: 90%;
			background-color: colors.$Bg_color;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			gap: 2em;
			z-index: 10;
			h2 {
				margin-top: 2.5em;
				font-family: Poppins-bold;
			}
			p {
				margin-bottom: 1.5em;
				color: colors.$Secondary_text_color;
			}
			.iconContainer {
				position: absolute;
				padding: 1em;
				border-radius: 50%;
				top: -2em;
				left: 50%;
				transform: translateX(-50%);
				background-color: colors.$Third_text_color;
				z-index: 5;
			}
		}
	}
	.statistics::after {
		position: absolute;
		display: block;
		content: "";
		width: 0.5em;
		height: 100%;
		background-color: colors.$Third_bg_color;
		top: 0;
	}
	.cta {
		width: 100%;
		aspect-ratio: 1/0.8;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5em;
		margin-top: 5.25em;
		color: colors.$Bg_color;
		background-color: colors.$Third_text_color;
		background-image: url(/images/bg-boost-mobile.svg);
		background-size: cover;
		a {
			padding: 0.8em 2.25em;
		}
	}
	footer {
		display: grid;
		background-color: colors.$Main_text_color;
		color: colors.$Main_bg_color;
		padding: 3em;
		.appFooter {
			align-self: center;
			justify-self: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2.3em;

			text-align: center;
			h2,
			h3 {
				color: #ffff;
				margin-bottom: 1.25em;
			}
			.listLink {
				ul {
					li {
						margin-bottom: 0.8em;
					}
				}
			}
			.iconsContainer {
				ul {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					gap: 1.3em;
				}
			}
		}
	}
}
.footer {
	width: 100%;
	text-align: center;
	color: currentColor;
	background-color: var(--Pale_blue);
	font-size: 0.7rem;
	z-index: 2;
}
@media (min-width: 769px) {
	.appContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		a,
		button {
			transition: filter 0.3s;
		}
		a:hover,
		button:hover {
			cursor: pointer;
			filter: brightness(1.1);
		}
		section {
			text-align: left;
			max-width: 600px;
			h1 {
				font-size: 4em;
				line-height: 1;
			}
		}
		.navigation {
			width: 100%;
			padding: 50px;
			flex-direction: row;
			align-items: center;
			.BurgerMenu {
				display: none;
			}
			nav {
				display: flex;
				font-size: 0.8em;
				letter-spacing: 0.1em;
				flex-grow: 1;
				justify-content: space-between;
				align-items: center;
				font-family: Poppins-Bold;
				color: colors.$Secondary_text_color;
			}
			.navLinks {
				display: flex;
				gap: 1.7em;
				margin-left: 2.5em;
			}
			.navLinks * a:hover {
				color: colors.$Main_text_color;
			}
			.loginContainer {
				display: flex;
				gap: 2em;
			}
			img {
				width: 6.5em;
				height: 1.8em;
			}
		}
		.hero {
			width: 100%;
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			img {
				width: 45%;
				transform: scale(1.1);
				left: 50px;
			}
			section {
				padding-left: 50px;
				flex-grow: 1;
				flex-basis: 40%;
				align-items: flex-start;
			}
		}
		.ShortedSection {
			.card {
				max-width: 1100px;
			}
			form {
				position: relative;
				flex-direction: row;
				padding: 2.8em;
				background-image: url(/images/bg-shorten-desktop.svg);
				background-size: cover;
				label {
					flex-grow: 1;
				}
				input,
				.button {
					padding: 1em 2em;
					border-radius: 0.5em;
				}
				.button {
					flex-shrink: 1;
					width: 250px;
				}
				p {
					position: absolute;
					bottom: 20px;
					left: 52px;
				}
			}
		}
		.linkCard {
			display: flex;
			justify-content: space-between;
			hr {
				display: none;
			}
			.shortLinkContainer {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				gap: 1.3em;
				p {
					color: colors.$Third_bg_color;
				}
				button {
					width: 100px;
				}
			}
		}
		.AdvanceStatisicContainer {
			align-items: center;
			max-width: 1100px;
			display: flex;
			flex-direction: column;

			section {
				text-align: center;
				h2 {
					font-family: Poppins-Bold;
					font-size: 2em;
				}
			}
			.statistics {
				max-width: 1100px;
				gap: 1.6em;
				flex-direction: row;
				.cardWithIcon {
					padding: 32px;
					align-items: flex-start;
					text-align: left;
					font-size: 0.8em;
					gap: 0.6em;
					height: 260px;
					$base-margin: 40px;
					@for $i from 1 through 3 {
						&:nth-of-type(#{$i}) {
							top: calc(#{$i} * #{$base-margin});
						}
					}
					.iconContainer {
						transform: none;
						left: auto;
					}
				}
			}
			.statistics::after {
				height: 0.5em;
				width: 100%;
				top: 75%;
				transform: translateY(-50%);
			}
		}
		.cta {
			margin-top: 12em;
			h2 {
				font-size: 2.2em;
			}
			height: 14em;
			background-image: url(/images/bg-boost-desktop.svg);
		}
		footer {
			width: 100%;
			a:hover {
				color: colors.$Third_bg_color;
			}
			.appFooter {
				width: 85%;
				flex-direction: row;
				gap: 0;
				align-items: start;
				h2 {
					flex-basis: 400px;
					text-align: left;
				}
				.linksContainer {
					flex-grow: 1;
					display: flex;
					flex-direction: row;
					gap: 5.5em;
					.listLink {
						text-align: left;
						text-wrap: nowrap;
					}
				}
				.iconsContainer {
					flex-shrink: 0;
					img:hover,
					img:focus {
						filter: invert(65%) sepia(54%) saturate(656%) hue-rotate(131deg)
							brightness(170%) contrast(94%);
					}
				}
			}
		}
	}
}
@keyframes spining {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
